<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
    <title>ToDo-PoMoDoRo</title>
</head>

          
    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content ">
          <form action="product" method="get" id="productForm">
            <div class="mb-3">
              <!-- <label for="brand" class="form-label"
                > <strong> Brand Name:</strong></label>
              <input type="search" name="brand" id=""> -->
              <label for="product" class="form-label"
                > <strong> Search a product: </strong></label>

                <select name="product_type" id="selectProduct" form="productForm">
                  <option value="">--Please choose a product to search--</option>
                  <option value="lipstick">Lipstick</option>
                  <option value="Mascara">Mascara</option>
                  <option value="nail_polish">Nailpolish</option>
                  <option value="lip_liner">lipliner</option>
                  <option value="foundation">foundation</option>
                  <option value="eyeshadow">eyeshadow</option>
                  <option value="eyeliner">eyeliner</option>
                  <option value="eyebrow">eyebrow</option>
                  <option value="bronzer">bronzer</option>
                  <option value="blush">blush</option>
              </select>
              <label for="brand" class="form-label"
                > <strong> Filter product by brand: </strong></label>
              
              <select name="brand" id="selectProduct" form="productForm">
                <option value="">--Filter--</option>
                <option value="almay">almay</option>
                <option value="alva">alva</option>
                <option value="anna sui">anna sui</option>
                <option value="annabelle">annabelle</option>
                <option value="benefit">benefit</option>
                <option value="boosh">boosh</option>
                <option value="burt's bees">burt's bees</option>
                <option value="butter london">butter london</option>
                <option value="c'est moi">c'est moi</option>
                <option value="cargo cosmetics">cargo cosmetics</option>
                <option value="rejuva minerals">rejuva minerals</option>
                <option value="pure anada">pure anada</option>
                <option value="piggy paint">piggy paint</option>
                <option value="physicians formula">physicians formula</option>
                <option value="penny lane organics">penny lane organics</option>
                <option value="pacifica">pacifica</option>
                <option value="orly">orly</option>
                <option value="nyx">nyx</option>
                <option value="nudus">nudus</option>
                <option value="moov">moov</option>
                <option value="mistura">mistura</option>
                <option value="misa">misa</option>
                <option value="mineral fusion">mineral fusion</option>
                <option value="milani">milani</option>
                <option value="maybelline">maybelline</option>
                <option value="marienatie">marienatie</option>
                <option value="marcelle">marcelle</option>
                <option value="maia's mineral galaxy">maia's mineral galaxy</option>
                <option value="lotus cosmetics usa">lotus cosmetics usa</option>
                <option value="l'oreal">l'oreal</option>
                <option value="iman">iman</option>
                <option value="green people">green people</option>
                <option value="glossier">glossier</option>
                <option value="fenty">fenty</option>
                <option value="essie">essie</option>
                <option value="e.l.f.">e.l.f.</option>
                <option value="dr. hauschka">dr. hauschka</option>
                <option value="dior">dior</option>
                <option value="deciem">deciem</option>
                <option value="dalish">dalish</option>
                <option value="covergirl">covergirl</option>
                <option value="colourpop">colourpop</option>
                <option value="coastal classic creation">coastal classic creation</option>
                <option value="clinique">clinique</option>
                <option value="china glaze">china glaze</option>
                <option value="zorah biocosmetiques">zorah biocosmetiques</option>
                <option value="wet n wild">wet n wild</option>
                <option value="zorah">zorah</option>
                <option value="w3llpeople">w3llpeople</option>
                <option value="suncoat">suncoat</option>
                <option value="stila">stila</option>
                <option value="smashbox">smashbox</option>
                <option value="sally b's skin yummies">sally b's skin yummies</option>
                <option value="salon perfect">salon perfect</option>
                <option value="sinful colours">sinful colours</option>
                <option value="sante">sante</option>
                <option value="revlon">revlon</option>
              </select>

              

              <!-- <input type="search" name="product_type" id=""> -->
              
            </div>
            
            <button id="productSearch"  type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
    
    </div>

    
    <!-- Jumbotron -->
  </header>




   
    
  
 
</html>